public/javascripts/components/**/*.js linguist-vendored
public/javascripts/components/**/*.css linguist-vendored
public/javascripts/components/**/*.json linguist-vendored
public/stylesheets/font-awesome.min.css linguist-vendored
