body{
    margin:0px;
    margin-top:70px;
}

.container{
    width:80%;
    margin: auto;
    padding:0px 20px;
}

.text-transform-capitalize{
    text-transform: capitalize;
}

.text-align-right{
    text-align:right;
}

.text-align-center{
    text-align:center;
}

.vertical-align-middle{
    vertical-align: middle!important;
}

.display-block{
    display:block;
}

.display-inline-block{
    display:inline-block!important;
}

.border-none{
    border:none!important;
}

.width-150{
    width:150px;
}

nav{
   box-shadow:0px 3px 3px rgba(0,0,0,0.3);
}

.form-inline select{
    margin: 0px 8px;
    padding: 5px;
}

.form-inline select{
    width:150px!important;
}
.form-inline input{
    width:300px!important;
}

.icon-input{
    display: inline-block;
    padding: 5px 8px;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    background: white;
}
.icon-input input{
    outline:none;
    border:none;
}

.actions a {
    margin: 0px 5px;
}

/**
    google-plus-signin
*/
#googlebutton{
    width: 120px;
    height: 36px;
    color: #FFFFFF;
    border-bottom: solid 2px #02336d;
    background: #225FCD;

    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

#googlebutton:hover,
#googlebutton:focus{
   border-bottom: solid 2px #04538d;
   background: #427FED;
   cursor: pointer;
}

#googlebutton .google-icon{
    margin: 6px 0 0 6px;
    float: left;
    fill: #FFFFFF;
}

#googlebutton .sign-in-text{
    text-align: center;
    vertical-align: middle;
    margin: 3px 0 0 0;
    float: left;
    width: 90px;
}