<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="{{user.name}}" data-ng-repeat="user in data.users">
    <md-content class="md-padding">
      <md-list flex>
        <md-list-item class="md-1-line" ng-click="null">
          <span flex><strong>Tech</strong></span>
          <span flex><strong>Action</strong></span>
          <span flex><strong>Occurrence</strong></span>
          <md-divider ></md-divider>
        </md-list-item>
        <md-list-item class="md-1-line" ng-repeat="entry in user.entries" ng-click="null">
          <span flex>{{entry.tech}}</span>
          <span flex>{{entry.entryAction}}</span>
          <span flex>{{entry.occurrence}}</span>
          <md-divider ></md-divider>
        </md-list-item>
      </md-list>
    </md-content>
  </md-tab>
</md-tabs>