<md-card layout="row" flex layout-padding class="search-card">
  <md-icon md-font-set="fa fa-search fa-2x"></md-icon>
  <input data-ng-model="data.skillFilter" type="text" placeholder="Filter" flex>
</md-card>


<md-card layout="column" flex layout-padding>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Add tech</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content layout="row" flex>
    <form layout="row" flex>
      <md-input-container flex>
        <label>Tech</label>
        <input data-ng-model="data.skillForm.name"
               data-focus-me="data.newInput"
               data-ng-focus="data.newInput = false">
      </md-input-container>

      <md-input-container flex>
        <label>Type</label>
        <md-select ng-model="data.skillForm.techType">
          <md-optgroup>
            <md-option ng-value="tech.value" data-ng-repeat="tech in data.techType"><span class="text-transform-capitalize">{{tech.text}}</span></md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>

      <md-input-container flex>
        <label>Level</label>
        <md-select ng-model="data.skillForm.skillLevel">
          <md-optgroup>
            <md-option ng-value="level.value" data-ng-repeat="level in data.level"><span class="text-transform-capitalize">{{level.text}}</span></md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>

      <md-button class="md-primary md-fab" data-ng-click="addSkill()">
        <md-icon md-font-set="fa fa-plus fa-2x"></md-icon>
      </md-button>
    </form>
  </md-card-content>
</md-card>

<div layout="row" layout-wrap>
  <div layout="column" flex="100" flex-gt-md="50" data-ng-repeat="techType in data.techType">
    <md-card layout-padding>
      <md-card-title>
        <md-card-title-text>
        <span class="md-headline text-transform-capitalize">
          {{techType.text}}
        </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content layout="row" layout-wrap>
        <div layout="column"  flex="100" data-ng-repeat="skill in data.groupedSkills[techType.value] | filter:{searchFilter:data.skillFilter}">
          <md-card class="{{getLevelClass(skill)}}" flex>
            <div layout="row" layout-align="end end" layout-padding>
              <span class="md-headline text-transform-capitalize">{{skill.tech.name}}</span>
              <span flex></span>
              <md-button class="md-icon-button" data-ng-click="updateSkill(skill)">
                <md-icon md-font-set="fa fa-pencil" class="correct-icon" data-ng-class="skill.updating ? 'color-white' : ''"></md-icon>
              </md-button>

              <md-button class="md-icon-button" data-ng-click="removeSkill(skill)">
                <md-icon md-font-set="fa fa-trash" class="correct-icon"></md-icon>
              </md-button>
            </div>

            <div layout="row" data-ng-show="skill.updating">
              <div flex="25" class="editButton {{getLevelClass({},level.value) +' '+ isSelectedLevelClass(skill, level.value)}} cursor-pointer"
                   data-ng-repeat="level in data.level"
                   data-ng-click="finishUpdatingSkill(skill, level)">
                {{level.text}}
              </div>
            </div>
          </md-card>
        </div>
      </md-card-content>
    </md-card>
  </div>
</div>
