<div class="position-relative">
  <md-button class="md-primary md-fab add-filter-button" aria-label="add filter" data-ng-click="addFilter()">
    <md-icon md-font-set="fa fa-plus fa-2x"></md-icon>
  </md-button>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Filters</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content layout="row" layout-align="start center">
      <md-card data-ng-repeat="filter in data.filters" class="filter-badge" layout-padding>
        <span class="text-transform-capitalize">{{filter.tech}}</span>
        {{filter.operation.symbol}}
        <span class="text-transform-capitalize">{{filter.level.text}}</span>
        <md-button class="md-icon-button " aria-label="remove filter" data-ng-click="removeFilter(filter)">
          <md-icon md-font-set="fa fa-times" class="correct-icon"></md-icon>
        </md-button>
      </md-card>
    </md-card-content>
  </md-card>
</div>

<div>
  <md-card class="hide-box">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Users</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content layout="row">
      <md-card layout-padding layout="column" layout-align="center center" data-ng-repeat="user in data.users">
        <md-icon md-font-set="fa fa-user-circle-o fa-4x" class="user-profile-icon no-margin"></md-icon>
        <div layout="column">
          <div class="user-profile-info" layout="column">
            <span>{{user.firstName}} {{user.lastName}}</span>
            <span>{{user.email}}</span>
            <!--<span><strong>{{user.location ? user.location : 'no location'}}</strong></span>-->
          </div>
        </div>
      </md-card>
    </md-card-content>
  </md-card>
</div>
