<div>
    <div class="text-align-right">
        <div class="icon-input">
            <input type="text" data-ng-model="data.userFilter" placeholder="Filter User">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </div>
    </div>

    <div class="page-header">
        <h1>Users</h1>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <td><strong>First Name</strong></td>
            <td><strong>Last Name</strong></td>
            <td><strong>Email</strong></td>
            <td class="text-align-center"><strong>Actions</strong></td>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="user in data.users | filter:{searchFilter:data.userFilter}">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td class="text-align-center actions">
                <a href="#!/user/profile/{{user.id}}">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </a>
                <a href="" data-ng-click="logIn(user)">
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>