@()
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tech Matrix</title>
  <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/font-awesome.min.css")'>
  <link rel="stylesheet" media="screen"
        href='@routes.Assets.versioned("javascripts/components/angular-material/angular-material.css")'>
  <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
  <link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.ico")'>
 </head>
<body data-ng-app="techmatrix" layout="column">

<md-toolbar class="md-whiteframe-4dp">
  <div class="md-toolbar-tools">

    <md-button class="md-icon-button" aria-label="toggle menu" data-ng-click="toggleMenu()" data-ng-if="auth">
      <md-icon md-font-set="fa fa-bars fa-2x"></md-icon>
    </md-button>

    <h2 flex>Tech Matrix</h2>

    <div data-ng-controller="HelpController" data-ng-click="goTo('/help')" class="button-like">
      <md-button aria-label="help" data-ng-if="auth">
        <md-icon md-font-set="fa fa-info-circle" class="icon-in-button"></md-icon>
        <span>Help</span>
      </md-button>
    </div>
  </div>
</md-toolbar>

<div layout="row">
  <md-sidenav
          class="md-sidenav-left"
          md-component-id="menu"
          md-whiteframe="3"
          data-ng-if="auth">
    <md-toolbar class="md-primary">
      <h1 class="md-toolbar-tools">
        <div class="position-relative width-100">
          <div class="profile-picture">
            <img data-ng-src="{{details.avatar}}">
          </div>
          <div>
            <span>{{details.name}}</span>
          </div>
        </div>
      </h1>
    </md-toolbar>
    <md-content layout-padding data-ng-controller="MenuController">
      <md-list flex>
        <md-list-item class="md-1-line" data-ng-click="goTo('/user/home')" data-ng-show="validateAccessLevel(details.accessLevel, accessLevel.Developer)">
          <div class="md-list-item-text" layout="row">
            <md-icon md-font-set="fa fa-home fa-2x"></md-icon>
            <span>My profile</span>
          </div>
        </md-list-item>
        <md-list-item class="md-1-line" data-ng-click="goTo('/user/profile')" data-ng-show="validateAccessLevel(details.accessLevel, accessLevel.Basic)">
          <div class="md-list-item-text" layout="row">
            <md-icon md-font-set="fa fa-search fa-2x"></md-icon>
            <span>Profile Search</span>
          </div>
        </md-list-item>
        <md-list-item class="md-1-line" data-ng-click="goTo('/user/list')" data-ng-show="validateAccessLevel(details.accessLevel, accessLevel.Management)">
          <div class="md-list-item-text" layout="row">
            <md-icon md-font-set="fa fa-users fa-2x"></md-icon>
            <span>Users</span>
          </div>
        </md-list-item>
        <md-list-item class="md-1-line" data-ng-click="goTo('/user/report')" data-ng-show="validateAccessLevel(details.accessLevel, accessLevel.Management)">
          <div class="md-list-item-text" layout="row">
            <md-icon md-font-set="fa fa-briefcase fa-2x"></md-icon>
            <span>Report</span>
          </div>
        </md-list-item>
        <md-list-item class="md-1-line" data-ng-click="goTo('/alltech/list')" data-ng-show="validateAccessLevel(details.accessLevel, accessLevel.Admin)">
          <div class="md-list-item-text" layout="row">
            <md-icon md-font-set="fa fa-book fa-2x"></md-icon>
            <span>Tech</span>
          </div>
        </md-list-item>
        <md-list-item class="md-1-line" data-ng-click="goTo('/skillmatrix')" data-ng-show="validateAccessLevel(details.accessLevel, accessLevel.Basic)">
          <div class="md-list-item-text" layout="row">
            <md-icon md-font-set="fa fa-table fa-2x"></md-icon>
            <span>Tech Matrix</span>
          </div>
        </md-list-item>
        <md-list-item class="md-1-line" data-ng-click="logout()">
          <div class="md-list-item-text" layout="row">
            <md-icon md-font-set="fa fa-sign-out fa-2x"></md-icon>
            <span>Logout</span>
          </div>
        </md-list-item>
      </md-list>

    </md-content>

  </md-sidenav>

  <div class="width-100">
    <md-content layout="column" class="main-content" layout-fill>
      <ng-view></ng-view>
    </md-content>
  </div>
</div>
</body>
<script src='@routes.Assets.versioned("javascripts/components/angular/angular.min.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/components/angular-route/angular-route.min.js")'
        type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/components/angular-cookies/angular-cookies.min.js")'
        type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/components/angular-aria/angular-aria.min.js")'
        type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/components/angular-messages/angular-messages.min.js")'
        type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/components/angular-animate/angular-animate.min.js")'
        type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/components/angular-material/angular-material.min.js")'
        type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/libs/google-plus-signin.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/app.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/libs/focusMe.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/constants/level.constant.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/constants/tech.type.constant.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/constants/operation.constant.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/constants/config.constant.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/constants/access.level.constant.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/http/rest.url.service.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/http/rest.service.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/http/rest.error.service.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/auth/googleapi.service.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/routes/routes.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/routes/auth.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/auth/auth.controller.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/user/user.home.controller.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/user/user.list.controller.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/user/user.profile.controller.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/user/lastupdate.report.controller.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/tech/tech.list.controller.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/skill/skill.controller.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/menu/menu.controller.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/menu/menu.toggle.run.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/help/help.controller.js")' type="text/javascript"></script>
<script src='https://apis.google.com/js/platform.js' async defer></script>
</html>
