@()
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tech Matrix</title>
  <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/font-awesome.min.css")'>
  <link rel="stylesheet" media="screen"
        href='@routes.Assets.versioned("javascripts/components/angular-material/angular-material.css")'>
  <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
  <link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'>
</head>
<body data-ng-app="techmatrix" layout="column">

<md-toolbar class="md-whiteframe-4dp">
  <div class="md-toolbar-tools">

    <md-button class="md-icon-button" aria-label="toggle menu" data-ng-click="toggleMenu()" data-ng-if="auth">
      <md-icon md-font-set="fa fa-bars fa-2x"></md-icon>
    </md-button>

    <h2 flex>Tech Matrix</h2>

    <md-button class="md-icon-button" aria-label="help" ng-href="#/help" data-ng-if="auth">
      <md-icon md-font-set="fa fa-info-circle fa-2x"></md-icon>
    </md-button>
  </div>
</md-toolbar>

<div layout="row">
  <md-sidenav
          class="md-sidenav-left"
          md-component-id="menu"
          md-whiteframe="3"
          data-ng-if="auth">
    <md-toolbar class="md-primary">
      <h1 class="md-toolbar-tools">Tech Matrix</h1>
    </md-toolbar>
    <md-content layout-padding ng-controller="MenuController">
      <md-list flex>
        <md-list-item class="md-1-line" data-ng-click="goTo('/user/home')">
          <div class="md-list-item-text" layout="row">
            <md-icon md-font-set="fa fa-home" class="correct-icon"></md-icon>
            <span>My profile</span>
          </div>
        </md-list-item>
        <md-list-item class="md-1-line" data-ng-click="goTo('/skillmatrix')">
          <div class="md-list-item-text" layout="row">
            <md-icon md-font-set="fa fa-table" class="correct-icon"></md-icon>
            <span>Tech Matrix</span>
          </div>
        </md-list-item>
        <md-list-item class="md-1-line" data-ng-click="logout()">
          <div class="md-list-item-text" layout="row">
            <md-icon md-font-set="fa fa-sign-out" class="correct-icon"></md-icon>
            <span>Logout</span>
          </div>
        </md-list-item>
      </md-list>

    </md-content>

  </md-sidenav>

  <div class="width-100">
    <md-content layout="column" class="main-content" layout-fill>
      <ng-view></ng-view>
    </md-content>
  </div>
</div>
</body>

<script src='@routes.Assets.versioned("javascripts/components/angular/angular.min.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/components/angular-route/angular-route.min.js")'
        type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/components/angular-cookies/angular-cookies.min.js")'
        type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/components/angular-aria/angular-aria.min.js")'
        type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/components/angular-messages/angular-messages.min.js")'
        type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/components/angular-animate/angular-animate.min.js")'
        type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/components/angular-material/angular-material.min.js")'
        type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/libs/google-plus-signin.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/app.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/libs/focusMe.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/constants/level.constant.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/constants/tech.type.constant.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/constants/config.constant.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/http/rest.url.service.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/http/rest.service.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/http/rest.error.service.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/auth/googleapi.service.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/routes/routes.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/routes/auth.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/auth/auth.controller.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/user/user.home.controller.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/skill/skill.controller.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/menu/menu.controller.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/menu/menu.toggle.run.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/help/help.controller.js")' type="text/javascript"></script>
<script src='https://apis.google.com/js/platform.js' async defer></script>
</html>