<md-card layout="row" flex layout-padding class="search-card">
  <md-icon md-font-set="fa fa-search fa-2x"></md-icon>
  <input data-ng-model="data.skillFilter" type="text" placeholder="Filter" flex>
</md-card>


<div layout="row" layout-align="space-between" layout-wrap>
  <div data-ng-repeat="skill in data.skills | filter:{searchFilter:data.skillFilter}" class="skill-matrix-card">
    <md-card layout-padding class="position-relative mt30 cursor-pointer" data-ng-click="showUsers(skill.users)">
      <md-button class="md-fab md-mini md-primary add-skill-from-matrix" aria-label="add skill"
                 data-ng-click="addSkillToUser(skill);$event.stopPropagation();" data-ng-show="skill.isMissing">
        <md-icon md-font-set="fa fa-plus fa-2x"></md-icon>
      </md-button>

      <md-button class="md-primary md-raised tech-type-matrix" aria-label="tech type"
                  data-ng-click="data.skillFilter = skill.techType; $event.stopPropagation();">
        {{skill.techType}}
      </md-button>
      <md-card-title>
        <md-card-title-text>
        <span class="md-headline text-transform-capitalize">
          {{skill.techName}}
        </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content layout="row">
        <div data-ng-repeat="level in data.level" data-ng-show="skill.users[level.value].length">
          <div class="user-on-level">
            <div class="badge" data-ng-class="getLevelBadgeClass(level.value)">
              {{skill.users[level.value].length}}
              <md-tooltip md-direction="bottom" data-ng-show="skill.userLevel === level.value">You current level
              </md-tooltip>
            </div>
            <md-icon class="icon-3x" md-font-set="fa fa-user fa-3x" data-ng-class="getLevelClass(level.value)"
                     data-ng-show="skill.userLevel !== level.value"></md-icon>
            <md-icon class="icon-3x" md-font-set="fa fa-user-o fa-3x" data-ng-class="getLevelClass(level.value)"
                     data-ng-show="skill.userLevel === level.value">
              <md-tooltip md-direction="top">You current level</md-tooltip>
            </md-icon>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>

</div>
