<md-dialog>
  <md-dialog-content>
    <md-toolbar class="md-whiteframe-4dp">
      <div class="md-toolbar-tools">
        <h2 flex>Users</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="close" data-ng-click="close()">
          <md-icon md-font-set="fa fa-times fa-2x"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-list>

      <md-subheader class="md-no-sticky">
        <div class="icon-input">
          <i class="fa fa-search"></i>
          <input data-ng-model="filter" placeholder="filter" flex>
        </div>
      </md-subheader>
      <div data-ng-repeat="l in level">
        <md-subheader class="md-no-sticky text-transform-capitalize" data-ng-if="users[l.value].length > 0">{{l.text}}</md-subheader>
        <md-list-item data-ng-repeat="user in users[l.value] | filter:{filterField:filter}">
          <p> {{ user.fullName }} </p>
        </md-list-item>
      </div>
    </md-list>

  </md-dialog-content>
</md-dialog>